[submodule "packages/napi"]
	path = packages/napi
	url = https://github.com/wasmerio/napi.git
	branch = main
[submodule "packages/webgpu"]
	path = packages/webgpu
	url = https://github.com/wasmerio/webgpu.git
	branch = main
[submodule "packages/gui"]
	path = packages/gui
	url = https://github.com/wasmerio/gui.git
	branch = main
